<!--
<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    &lt;!&ndash;<Configuration status="WARN" monitorInterval="30"> &ndash;&gt;
    <properties>
        <property name="LOG_HOME">./service-logs</property>
    </properties>
    <Appenders>
        &lt;!&ndash;*********************控制台日志***********************&ndash;&gt;
        <Console name="consoleAppender" target="SYSTEM_OUT">
            &lt;!&ndash;设置日志格式及颜色&ndash;&gt;
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{bright,green} %highlight{%-5level} [%style{%t}{bright,blue}] %style{%C{}}{bright,yellow}: %msg%n%style{%throwable}{red}"
                    disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>

        &lt;!&ndash;*********************文件日志***********************&ndash;&gt;
        &lt;!&ndash;all级别日志&ndash;&gt;
        <RollingFile name="allFileAppender"
                     fileName="${LOG_HOME}/all.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz">
            &lt;!&ndash;设置日志格式&ndash;&gt;
            <PatternLayout>
                <pattern>%d %p %C{} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                &lt;!&ndash; 设置日志文件切分参数 &ndash;&gt;
                &lt;!&ndash;<OnStartupTriggeringPolicy/>&ndash;&gt;
                &lt;!&ndash;设置日志基础文件大小，超过该大小就触发日志文件滚动更新&ndash;&gt;
                <SizeBasedTriggeringPolicy size="100 MB"/>
                &lt;!&ndash;设置日志文件滚动更新的时间，依赖于文件命名filePattern的设置&ndash;&gt;
                <TimeBasedTriggeringPolicy/>
            </Policies>
            &lt;!&ndash;设置日志的文件个数上限，不设置默认为7个，超过大小后会被覆盖；依赖于filePattern中的%i&ndash;&gt;
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        &lt;!&ndash;debug级别日志&ndash;&gt;
        <RollingFile name="debugFileAppender"
                     fileName="${LOG_HOME}/debug.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                &lt;!&ndash;过滤掉info及更高级别日志&ndash;&gt;
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            &lt;!&ndash;设置日志格式&ndash;&gt;
            <PatternLayout>
                <pattern>%d %p %C{} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                &lt;!&ndash; 设置日志文件切分参数 &ndash;&gt;
                &lt;!&ndash;<OnStartupTriggeringPolicy/>&ndash;&gt;
                &lt;!&ndash;设置日志基础文件大小，超过该大小就触发日志文件滚动更新&ndash;&gt;
                <SizeBasedTriggeringPolicy size="100 MB"/>
                &lt;!&ndash;设置日志文件滚动更新的时间，依赖于文件命名filePattern的设置&ndash;&gt;
                <TimeBasedTriggeringPolicy/>
            </Policies>
            &lt;!&ndash;设置日志的文件个数上限，不设置默认为7个，超过大小后会被覆盖；依赖于filePattern中的%i&ndash;&gt;
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        &lt;!&ndash;info级别日志&ndash;&gt;
        <RollingFile name="infoFileAppender"
                     fileName="${LOG_HOME}/info.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                &lt;!&ndash;过滤掉warn及更高级别日志&ndash;&gt;
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            &lt;!&ndash;设置日志格式&ndash;&gt;
            <PatternLayout>
                <pattern>%d %p %C{} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
            &lt;!&ndash; 设置日志文件切分参数 &ndash;&gt;
            &lt;!&ndash;<OnStartupTriggeringPolicy/>&ndash;&gt;
            &lt;!&ndash;设置日志基础文件大小，超过该大小就触发日志文件滚动更新&ndash;&gt;
            <SizeBasedTriggeringPolicy size="100 MB"/>
            &lt;!&ndash;设置日志文件滚动更新的时间，依赖于文件命名filePattern的设置&ndash;&gt;
            <TimeBasedTriggeringPolicy interval="1" modulate="true />
            </Policies>
            &lt;!&ndash;设置日志的文件个数上限，不设置默认为7个，超过大小后会被覆盖；依赖于filePattern中的%i&ndash;&gt;
            &lt;!&ndash;<DefaultRolloverStrategy max="100"/>&ndash;&gt;
        </RollingFile>

        &lt;!&ndash;warn级别日志&ndash;&gt;
        <RollingFile name="warnFileAppender"
                     fileName="${LOG_HOME}/warn.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                &lt;!&ndash;过滤掉error及更高级别日志&ndash;&gt;
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            &lt;!&ndash;设置日志格式&ndash;&gt;
            <PatternLayout>
                <pattern>%d %p %C{} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                &lt;!&ndash; 设置日志文件切分参数 &ndash;&gt;
                &lt;!&ndash;<OnStartupTriggeringPolicy/>&ndash;&gt;
                &lt;!&ndash;设置日志基础文件大小，超过该大小就触发日志文件滚动更新&ndash;&gt;
                <SizeBasedTriggeringPolicy size="100 MB"/>
                &lt;!&ndash;设置日志文件滚动更新的时间，依赖于文件命名filePattern的设置&ndash;&gt;
                <TimeBasedTriggeringPolicy/>
            </Policies>
            &lt;!&ndash;设置日志的文件个数上限，不设置默认为7个，超过大小后会被覆盖；依赖于filePattern中的%i&ndash;&gt;
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        &lt;!&ndash;error及更高级别日志&ndash;&gt;
        <RollingFile name="errorFileAppender"
                     fileName="${LOG_HOME}/error.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
            &lt;!&ndash;设置日志格式&ndash;&gt;
            <PatternLayout>
                <pattern>%d %p %C{} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                &lt;!&ndash; 设置日志文件切分参数 &ndash;&gt;
                &lt;!&ndash;<OnStartupTriggeringPolicy/>&ndash;&gt;
                &lt;!&ndash;设置日志基础文件大小，超过该大小就触发日志文件滚动更新&ndash;&gt;
                <SizeBasedTriggeringPolicy size="100 MB"/>
                &lt;!&ndash;设置日志文件滚动更新的时间，依赖于文件命名filePattern的设置&ndash;&gt;
                <TimeBasedTriggeringPolicy/>
            </Policies>
            &lt;!&ndash;设置日志的文件个数上限，不设置默认为7个，超过大小后会被覆盖；依赖于filePattern中的%i&ndash;&gt;
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

        &lt;!&ndash;json格式error级别日志&ndash;&gt;
        <RollingFile name="errorJsonAppender"
                     fileName="${LOG_HOME}/error-json.log"
                     filePattern="${LOG_HOME}/error-json-%d{yyyy-MM-dd}-%i.log.gz">
            <JSONLayout compact="true" eventEol="true" locationInfo="true"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        &lt;!&ndash; 根日志设置 &ndash;&gt;
        <Root level="info">
            <AppenderRef ref="allFileAppender" level="all"/>
            <AppenderRef ref="consoleAppender" level="debug"/>
            <AppenderRef ref="debugFileAppender" level="debug"/>
            <AppenderRef ref="infoFileAppender" level="info"/>
            <AppenderRef ref="warnFileAppender" level="warn"/>
            <AppenderRef ref="errorFileAppender" level="error"/>
            <AppenderRef ref="errorJsonAppender" level="error"/>
        </Root>

        &lt;!&ndash;spring日志&ndash;&gt;
        <Logger name="org.springframework" level="info"/>
        &lt;!&ndash;druid数据源日志&ndash;&gt;
        <Logger name="druid.sql.Statement" level="warn"/>
        &lt;!&ndash; mybatis日志 &ndash;&gt;
        <Logger name="com.mybatis" level="warn"/>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="com.zaxxer.hikari" level="info"/>
        <Logger name="org.quartz" level="info"/>
        <Logger name="com.andya.demo" level="debug"/>
    </Loggers>

</Configuration>
-->
